In [48]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [49]:
df=pd.read_csv('Chicago_Crime_Detective.csv')
df.head()

C:\Users\my pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012

In [68]:
dates=pd.to_datetime(df['Date'])
dates.head()
print(dates[len(dates)//2])
#print(df[len(df['date'])//2])
#print(df[len(Date)//2])

2006-05-21 12:30:00

In [74]:
df.value_counts(Dates)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [83]:
weekday=df['Date'].dt.day_name()
weekday.head()

0    Monday
1    Monday
2    Monday
3    Monday
4    Monday
Name: Date, dtype: object

In [85]:
df.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,2012-12-31 23:15:00,STREET,False,False,623,6,69,2012
1,1,8951141,2012-12-31 22:00:00,STREET,False,False,1213,12,24,2012
2,2,8952745,2012-12-31 22:00:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,2012-12-31 22:00:00,STREET,False,False,724,7,67,2012
4,4,8951608,2012-12-31 21:30:00,STREET,False,False,211,2,35,2012

In [90]:
df.Date.dt.weekday_name

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [91]:
df.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,2012-12-31 23:15:00,STREET,False,False,623,6,69,2012
1,1,8951141,2012-12-31 22:00:00,STREET,False,False,1213,12,24,2012
2,2,8952745,2012-12-31 22:00:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,2012-12-31 22:00:00,STREET,False,False,724,7,67,2012
4,4,8951608,2012-12-31 21:30:00,STREET,False,False,211,2,35,2012

In [95]:
df.dtypes

Unnamed: 0                      int64
ID                              int64
Date                   datetime64[ns]
LocationDescription            object
Arrest                           bool
Domestic                         bool
Beat                            int64
District                       object
CommunityArea                  object
Year                            int64
dtype: object

In [96]:
df.Date.dt.month

0         12
1         12
2         12
3         12
4         12
          ..
191636     1
191637     1
191638     1
191639     1
191640     1
Name: Date, Length: 191641, dtype: int64

In [111]:
A=df.groupby('Year').LocationDescription
A.head()

0                                 STREET
1                                 STREET
2          RESIDENTIAL YARD (FRONT/BACK)
3                                 STREET
4                                 STREET
14092                             STREET
14093                             STREET
14094                             STREET
14095                             STREET
14096                             STREET
29729                             STREET
29730                              ALLEY
29731     PARKING LOT/GARAGE(NON.RESID.)
29732                             STREET
29733                             STREET
45226                             STREET
45227                             STREET
45228                             STREET
45229     PARKING LOT/GARAGE(NON.RESID.)
45230                             STREET
57393                             STREET
57394                             STREET
57395                             STREET
57396                             STREET
57397                             STREET
71838                             STREET
71839                             STREET
71840                             STREET
71841                             STREET
71842                             STREET
86118                        GAS STATION
86119                             STREET
86120     PARKING LOT/GARAGE(NON.RESID.)
86121                             STREET
86122                             STREET
102216                            STREET
102217                            STREET
102218                            STREET
102219                       GAS STATION
102220                            STREET
118700                            STREET
118701                            STREET
118702                            STREET
118703                            STREET
118704            DRIVEWAY - RESIDENTIAL
135562    PARKING LOT/GARAGE(NON.RESID.)
135563                            STREET
135564                            STREET
135565                            STREET
135566                   VACANT LOT/LAND
152219                            STREET
152220                            STREET
152221                            STREET
152222                            STREET
152223                            STREET
170972                            STREET
170973                            STREET
170974                            STREET
170975                            STREET
170976                            STREET
Name: LocationDescription, dtype: object

In [116]:
g1=df.Date.dt.month.value_counts()
g1

10    17086
7     16801
8     16572
12    16426
11    16063
9     16060
1     16047
5     16035
6     16002
3     15758
4     15280
2     13511
Name: Date, dtype: int64

In [124]:
g2=df.Date.dt.day_name().min()
g2

'Friday'

In [131]:
AT=[]
for i in df.Arrest:
    if df.Arrest=='True':
        AT.append(i)
print(AT)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [132]:
print(df.Arrest)

0         False
1         False
2         False
3         False
4         False
          ...
191636    False
191637    False
191638    False
191639    False
191640    False
Name: Arrest, Length: 191641, dtype: bool

In [146]:
df[df.Arrest==True].Year.value_counts()

2001    2152
2002    2115
2003    1798
2004    1693
2005    1528
2006    1302
2007    1212
2008    1020
2009     840
2010     701
2011     625
2012     550
Name: Year, dtype: int64

In [145]:
df[df.Arrest==True].Date.dt.month.max()

12

In [171]:
df1=df.groupby('Year').agg({'ID':'count'})
#df1=df.groupby('Year').agg('count')
df1

         ID
Year
2001  20669
2002  18753
2003  16657
2004  16862
2005  16484
2006  16098
2007  14280
2008  14445
2009  12167
2010  15497
2011  15637
2012  14092

In [174]:
d = {
  'id': [1, 2, 3, 4, 5], 
  'is_overdue': [True, False, True, True, False],
  'org': ['A81001', 'A81002', 'A81001', 'A81002', 'A81003']
}
df2 = pd.DataFrame(d)
df2

   id  is_overdue     org
0   1        True  A81001
1   2       False  A81002
2   3        True  A81001
3   4        True  A81002
4   5       False  A81003

In [175]:
df2.groupby(['org', 'is_overdue']).agg('count')

                   id
org    is_overdue
A81001 True         2
A81002 False        1
       True         1
A81003 False        1

In [190]:
df.LocationDescription.value_counts().head(6)

STREET                            156564
PARKING LOT/GARAGE(NON.RESID.)     14852
OTHER                               4573
ALLEY                               2308
GAS STATION                         2111
DRIVEWAY - RESIDENTIAL              1675
Name: LocationDescription, dtype: int64

In [197]:
df[df.LocationDescription.isin(['STREET','PARKING LOT/GARAGE(NON.RESID.)','ALLEY','GAS STATION','DRIVEWAY - RESIDENTIAL'])].shape

(177510, 10)

In [205]:
df[df.LocationDescription=='GAS STATION'].Date.dt.day_name()

13          Monday
106       Saturday
213       Thursday
278        Tuesday
290         Monday
            ...
191335    Saturday
191350    Saturday
191376      Friday
191562     Tuesday
191583     Tuesday
Name: Date, Length: 2111, dtype: object

In [207]:
X=df.Date.dt.year.groupby(df.Arrest).value_counts()
X

Arrest  Date
False   2001    18517
        2002    16638
        2004    15169
        2011    15012
        2005    14956
        2003    14859
        2006    14796
        2010    14796
        2012    13542
        2008    13425
        2007    13068
        2009    11327
True    2001     2152
        2002     2115
        2003     1798
        2004     1693
        2005     1528
        2006     1302
        2007     1212
        2008     1020
        2009      840
        2010      701
        2011      625
        2012      550
Name: Date, dtype: int64

In [218]:
Y=2152/(2152+18517)

In [224]:
print (Y)
print(round(Y,2))

0.10411727708161982
0.1

In [226]:
z=1212/(1212+13068)
print(round(z,2))

0.08

In [217]:
Y.round(decimals=2)

Arrest  Date
False   2001    0.11
        2002    0.09
        2004    0.09
        2011    0.09
        2005    0.08
        2003    0.08
        2006    0.08
        2010    0.08
        2012    0.08
        2008    0.08
        2007    0.07
        2009    0.06
True    2001    0.14
        2002    0.14
        2003    0.12
        2004    0.11
        2005    0.10
        2006    0.08
        2007    0.08
        2008    0.07
        2009    0.05
        2010    0.05
        2011    0.04
        2012    0.04
Name: Date, dtype: float64

Arrest  Date
False   2001    0.000048
        2002    0.000043
        2004    0.000039
        2011    0.000039
        2005    0.000039
        2003    0.000039
        2006    0.000038
        2010    0.000038
        2012    0.000035
        2008    0.000035
        2007    0.000034
        2009    0.000029
True    2001    0.000006
        2002    0.000006
        2003    0.000005
        2004    0.000004
        2005    0.000004
        2006    0.000003
        2007    0.000003
        2008    0.000003
        2009    0.000002
        2010    0.000002
        2011    0.000002
        2012    0.000001
Name: Date, dtype: float64

In [242]:
df[df.LocationDescription=='GAS STATION'].Date.dt.day_name().value_counts()

Saturday     338
Sunday       336
Friday       332
Thursday     282
Monday       280
Wednesday    273
Tuesday      270
Name: Date, dtype: int64